*{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: left;
    padding: 10px;
    margin: 10px;
}


.index-container{
    width: 100%;

    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto auto; 
    grid-template-areas: 
    "header header"
    "section1 section2"
    "section1 section3"
    "footer footer"; 
}


@media screen and (max-width: 768px) {
    .index-container{
        width: 100%;
    
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto auto; 
        grid-template-areas: 
        "header"
        "section1"
        "section2" 
        "section3"
        "footer"; 
    }
}
@media screen and (max-width: 480px) {
    .index-container{
        width: 100%;
    
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto auto; 
        grid-template-areas: 
        "header"
        "section1"
        "section2" 
        "section3"
        "footer"; 
    }
}

.grid-item{
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 12px #0001;
    background-color: #ededed;
    h2{
        font-size: 24px;
        color:#87ceeb;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px; 
     }
    
}
.header { 
    grid-area: header;
}
.images-flex{
    display: flex;
    flex-direction: row;
}
/*Socials*/
.socials{
    background-color: skyblue;
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
}
.socials li{
    display: inline-block;
}
.socials li a{
    text-decoration: none;
    padding: 15px;
    text-align: left;
    color: white;
}
.socials li img{
    height: 20px;
    width: 20px;
}
/*Navigation bar*/
nav{
    margin-bottom: 10px;
    width: auto;
    }
    .menu{
        background-color: skyblue;
        text-align: right;
    }
    .menu li{
        display: inline-block;
        text-align: center;
        margin: 20px;
        text-transform: uppercase;   
    }
    .menu li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        padding: 15px;
    }
    .menu li a:hover{
        background-color: rgba(255, 255, 255, 0.363);
        border-radius: 20px;
        text-decoration: underline whitesmoke;
    }
.section1 { 
    grid-area: section1;

}
.paragraph{
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    width: 60%;
    height: 100%px;
    border-radius: 40px;
    padding: 15px;
    margin: auto
}

.section2{ 
    grid-area: section2;
}
.section2 img{
    width: 30px;
    height: 30px;
}
.section2 a{
    text-decoration: none;
}

.section3 { 
    grid-area: section3;
}
.footer { 
    grid-area: footer;
}

.body-container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: auto; 
    grid-template-rows: 1fr 0.8fr  1.2fr 0.3fr;
    grid-template-areas: 
      "header"
      "adpcion-section1"
      "adopcion-section2"
      "adopcion-section3"
      "footer"; 
  }
  .header { grid-area: header; }
  .adpcion-section1 { grid-area: adpcion-section1; }
  .adopcion-section2 { grid-area: adopcion-section2; }
  .adopcion-section3 { 
    grid-area: adopcion-section3; 
    box-shadow: 0px 0px 12px #0001;
    width: 700px;
  }
    /*Formularios*/
.form {
    background-color: #ededed;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
}
.form_input {
    padding: 6px 20px;
}
input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid #999;
    box-shadow: 0px 0px 12px #0001;
}
.form-button{
    padding: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;  
}
  .footer { grid-area: footer; }